# Dependencies
node_modules/

# Build
dist/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

# Logs
*.log
npm-debug.log*

# Prisma
prisma/*.db
prisma/*.db-journal
